extends layout

block css
  link(rel="stylesheet", href="/stylesheets/homepage.css")
  link(rel="stylesheet", href="https://cdn.bootcss.com/Swiper/4.0.1/css/swiper.min.css")

block content
  div.rcontainer
    .swiper-container
      .swiper-wrapper
        .mask
          h1 No.1 | 10.28
          h2 你眼中的世界
          p “她这么辛苦种田就是为了每天这么吃啊？”“对啊，人生不就是这样吗！”
      .swiper-wrapper
    .swiper-button-next

block js
  script(src="https://cdn.bootcss.com/Swiper/4.0.1/js/swiper.min.js")
  script(src="/javascripts/homepage.js")